<style type="text/css">
	.jumbotron{
		background-image: url('../static/images/field.jpg');
		background-size: cover;
		height: 45em;
		width: 100%;
		background-position: center;
		/*opacity: 0.7;*/
	}
/*	#jumbotron_h1{
		color: white;
	}
	#jumbotron_p{
		color: white;
	}*/
/*	btn {
		opacity: 1.0;
	}*/
	.help-button {
	  position: relative;
	  top: 10%;
	  /*transform: translateY(-45%);*/
	}
	.jumbo-paragraph {
		background-color: rgba(255, 255, 255, 0.8);
		/*color: black;*/
		height: 97%;
	}
</style>
<div ng-controller='homeController'>
		<div class="jumbotron">
			<center class="jumbo-paragraph container">
				<h1 id='jumbotron_h1'>Welcome to LifeLine.</h1>
				<p>Talk people who care.</p>
				<p>Find professionals who can help.</p>

				<center class="help-button">
					<a class="btn btn-primary btn-lg" href="#/chat" role="button">Click to Chat With Us</a>
				<center>
			</center>
		</div>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-lg-4">
					<h2>Who will I be talking to?</h2>
					<p>
						LifeLine is connected with call centers around the world full of volunteers who are passionate and dedicated to helping you through crisis. You will be connected with a volunteer from a call center in your area, and at any point you can choose to be connected with a licensed medical professional nearby.
					</p>
					<hr>
				</div>
				<div class="col-md-4 col-lg-4">
					<h2>Will my privacy be compromised?</h2>
					<p>
						LifeLine is committed to maintaining your privacy as best we can. You don't need to submit any information to us to be able to chat. If at any point you would like to be connected with a medical professional in your area, your approximate location may be requested to help us find doctors in your area.
					</p>
					<hr>
				</div>
				<div class="col-md-4 col-lg-4">
					<h2>What times can I chat with someone?</h2>
					<p>
						Operators are on standby 24/7, whenever you need them. If the lines are especially busy, you may be connected with an operator in a different location or put on hold until the next operator is available. Stay online and we'll be with you as soon as possible!
					</p>
					<hr>
				</div>
			</div>
		</div>
	<div >

	</div>
</div>
<script type="text/javascript" src="home.js"></script>
